# react native setups
fooder/.gitignore
fooder/app.json
fooder/package-lock.json
fooder/package.json
fooder/README.md
fooder/tsconfig.json

# liuh2so4's .sh
run.sh

# you can add whatever you don't want to put into the project